.main-chat
  .header
    .header__left-box
      %h1.header__left-box__group-name
        = @group.name
      %ul.header__left-box__members
        Member :
        %li.header__left-box__members__name
          - @members.each do |member|
            = member.name
    = link_to edit_group_path(current_user), class: "header__edit-button" do
      .header__edit-button__edit Edit
  .messages
    = render partial: 'message', collection: @messages
  .message-form
    = form_for [@group, @message] do |f|
      .new-message
        .new-message__input-box
          = f.text_field :content, class: 'new-message__input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'new-message__input-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'new-message__submit-btn'